.section-body{
    width: 100%;
    padding: 100px 0;
    height: 90vh;
}
.section-wb{
    width: 100%;
    padding: 60px 0 0 80px;
}
.section-b1{
    width: 100%;
}
.input-form{
    padding: 70px 0;
}
.pb-font{
    width: 41rem;
    padding: 0 0 0 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    color: #94A1B2;
    line-height: 112px;
    letter-spacing: -0.02em;
}
.sb-font{
    width: 34rem;
    Font-family: Open Sans;
    color: #D1D1D1;
    Font-size: 32px;
    Line-height: 44px;
    text-align: Left;
    margin-top: -18px;
    Letter-spacing: -0.5px;
}
.form-control{
    width: 35rem;
    margin: -12px 0 20px;
}
.shop-btn{
    border-radius: 0;
    color: #D1D1D1;
    background-color: #7F5AF0;
}
.side-image{
    background-color: white;
}
.pet-img{
    margin-top: -15rem;
    height: 952px;
    width: 848px;
    margin-left: -53rem;
}
.brands-logo{
    text-align: center;
    width: 100%;
    display: inline-flex;
    background-color: #9786AC;
}