.section-body{
    width: 100%;
    padding: 100px 0;
}
.section-wb{
    width: 100%;
    padding: 60px 0 0 80px;
}
.section-b1{
    width: 100%;
    background-image: url('../images/Banner1.png');
    background-repeat: no-repeat;
    background-position: right center;
}
.input-form{
    padding: 70px 0;
}
.pb-font{
    width: 41rem;
    padding: 0 0 0 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    color: #94A1B2;
    line-height: 112px;
    letter-spacing: -0.02em;
}
.sb-font{
    width: 34rem;
    Font-family: Open Sans;
    color: #D1D1D1;
    Font-size: 32px;
    Line-height: 44px;
    text-align: Left;
    margin-top: -18px;
    Letter-spacing: -0.5px;
}
.form-control{
    width: 35rem;
    margin: -12px 0 20px;
}
.shop-btn{
    border-radius: 0;
    color: #D1D1D1;
    background-color: #7F5AF0;
}
.side-image{
    margin-top: -15rem;
    height: 952px;
    width: 848px;
    margin-left: -53rem;
}

.brands-logo{
    text-align: center;
    width: 100%;
    display: inline-flex;
    background-color: #9786AC;
}

.b2-text{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: Poppins;
    letter-spacing: -2%;
}

.products{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
    grid-template-rows: 1fr 1fr;
   
}
.product-detail{
    height: auto;
}
.card{
    border-radius: none;
    background-color: #141415;
}
.card-title{
    margin-top: -18px;
    color: #94A1B2;
}
.card-text{
    margin-top: -9px;
    color: #7F5AF0;
}
.rate-star{
    margin-left: -0.3rem;
}
.fproduct-btn , .pproduct-btn{
    text-align: center;
}
.morepdt-btn{
    width: 100px;
    color: #fff;
    border-color: #7F5AF0;
}
.morepdt-btn:hover{
    color: #7F5AF0;
}
.subscription-section{
    height: 500px;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    background-image: url('../images/banner2.png');
    background-repeat: no-repeat;
}
.subscription-headertxt{
    color: #fff;
    text-align: center;
    font-size: 75px;
    font-family: Poppins;
    line-height: 112px;
    letter-spacing: -2%,
}
.subscription-subtxt{
    width: 750px;
    text-align: center;
    color: #D1D1D1;
    font-family: Open Sans;
    font-style: SemiBold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -7.5%;
}
.email-input{
    height: 60px;
    width: 400px;
    border-radius: 5px;
    border-color: #7F5AF0;

}
::placeholder{
    text-align: center;
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 42px;
}
.subscribe-btn, .sub-text{
    text-align: -webkit-center;
    width: 100%;
}
.sub-btn{
    width: 205px;
    height: 60px;
    text-align: center;
    background-color: #7F5AF0;
    border-radius: 5px;
    color: #fff;
}
