.footer-section{ 
    padding: 0 80px 0 85px;
    background-color: #242629;;

}
.top-section{
    width: fit-content;
    background-color: #0B0711;
} 
.fbrand-icon{
    margin-top: -1rem;
    height: auto;
    width: 45px;
}
.fbrand-logo{
    font-family: poopins;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
}
.aftxt-logo{
    color: #7F5AF0;
}
.mid-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #fff;
}
@media screen and (max-width:1000px) {
    .mid-section{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.link-items{
    margin-left: -2rem;
}
.link-item{
    color: #fff;
}
.link-item:hover {
    color: #7F5AF0;
}
ul, li{
    list-style: none;
}
.end-section{
    color: #fff;
}
.media-icon{
    color: #fff;
}